<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons collapse="true" slot="start">
        <ion-back-button text="取消"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">签到中</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">45/50</h1>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block">放弃</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" [routerLink]="['/tea-sign-result']">结束</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
