<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        班课
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">班课详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="role == teacher">
    <ion-list>
      <ion-item>
        <ion-label>班课号</ion-label>
        <ion-note slot="end">{{classInfo.classid}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>允许加入</ion-label>
        <ion-toggle checked></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>班级名称</ion-label>
        <ion-input placeholder="未设置" [(ngModel)]="classInfo.classname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>课程名称</ion-label>
        <ion-input placeholder="未设置" [(ngModel)]="classInfo.couresename"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>学期</ion-label>
        <ion-input placeholder="未设置" [(ngModel)]="classInfo.semester"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>学习要求</ion-label>
        <ion-input placeholder="未设置" [(ngModel)]="classInfo.requirement"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>考试安排</ion-label>
        <ion-input placeholder="未设置" [(ngModel)]="classInfo.plan"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveClassInfo()">保存</ion-button>
  </div>

  <div *ngIf="role !== teacher">
    <ion-list>
      <ion-item>
        <ion-label>班课号</ion-label>
        <ion-note slot="end" >{{classInfo.classid}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>班级名称</ion-label>
        <ion-note slot="end" >{{classInfo.classname}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>课程名称</ion-label>
        <ion-note slot="end" >{{classInfo.couresename}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>教师</ion-label>
        <ion-note slot="end" >{{classInfo.teachername}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>学习要求</ion-label>
        <ion-note slot="end" >{{classInfo.requirement}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>考试安排</ion-label>
        <ion-note slot="end">{{classInfo.plan}}</ion-note>
      </ion-item>
    </ion-list>
    <ion-button expand="full">退出班课</ion-button>
  </div>
</ion-content>
