<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        班课
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">班课详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isTeacher==1">
    <form>
      <ion-item>
        <ion-label>课程编号</ion-label>
        <ion-input type="text" placeholder="未设置" name="cNumber" [(ngModel)]="cNumber" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>课程名称</ion-label>
        <ion-input type="text" placeholder="未设置" name="cName" [(ngModel)]="cName" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>课程描述</ion-label>
        <ion-input type="text" placeholder="未设置" name="description" [(ngModel)]="description" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>课程学期</ion-label>
        <ion-input type="text" placeholder="未设置" name="term" [(ngModel)]="term" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>课程学周</ion-label>
        <ion-input type="number" placeholder="未设置" name="date" [(ngModel)]="date" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>课程学分</ion-label>
        <ion-input type="number" placeholder="未设置" name="credit" [(ngModel)]="credit" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>日常比重</ion-label>
        <ion-input type="number" placeholder="未设置" name="dailyWeight" [(ngModel)]="dailyWeight" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>期末比重</ion-label>
        <ion-input type="number" placeholder="未设置" name="finalWeight" [(ngModel)]="finalWeight" required="true"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="full" color="primary" (click)="saveCourse()">
        保存修改
      </ion-button>  
    </form>
  </div>

  <div *ngIf="isTeacher==0">
    <form>
      <ion-item>
        <ion-label>课程编号</ion-label>
        <ion-text>{{cNumber}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>课程名称</ion-label>
        <ion-text>{{cName}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>课程描述</ion-label>
        <ion-text>{{description}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>课程学期</ion-label>
        <ion-text>{{term}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>课程学周</ion-label>
        <ion-text>{{date}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>课程学分</ion-label>
        <ion-text>{{credit}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>日常比重</ion-label>
        <ion-text>{{dailyWeight}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>期末比重</ion-label>
        <ion-text>{{finalWeight}}</ion-text>
      </ion-item>
      
    </form>

  </div>
</ion-content>
