<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/class-tabs']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title>签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button expand="full" color="secondary" (click)="stuSignIn()">
    开始签到
  </ion-button>
  

  <ion-text style="padding-left: 5%;font-size: 3px;">历史签到记录</ion-text>
  <!-- <ion-text style="padding-left: 55%;font-size: 3px; color:rgb(0, 140, 255)">67%</ion-text> -->
  <ion-list>

    <div *ngFor="let item of signRecord">
      <div *ngIf="item.state==1">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>{{item.date}}</ion-text>
          </ion-label>
          <ion-text>已签到</ion-text>
        </ion-item>
      </div>
      <div *ngIf="item.state==0">
        <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text>{{item.date}}</ion-text>
            </ion-label>
            <ion-text>已签到</ion-text>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
