<ion-header>
  <ion-toolbar>
    <ion-title style='text-align:center'>登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label>用户</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="loginToken" type="text" placeholder="请输入用户名/手机号/邮箱" required="true" [(ngModel)]="loginToken" >
            </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-label>密码</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="password" type="password" placeholder="请输入密码" required="true" [(ngModel)]="passwordToken">
          </ion-input>  
        </ion-item>
      </ion-list>
      <div padding-horizontal>
        <ion-button type="submit" expand="full" color="primary" (click)="check()">
            登录
        </ion-button>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <a style="padding-inline-start: 45%;" href="/register">注册账号</a>
          </ion-col>
          <ion-col>
            <a style="padding-inline-end: 45%;" href="/forget-pwd">忘记密码</a>
          </ion-col>
        </ion-row>
        <ion-row>
          初始密码：123456
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
