<ion-header [translucent]="true">
  <ion-toolbar collapse="true">
    <ion-segment>
      <ion-segment-button name="create" onclick= "clickcreate()">
        <ion-label>我创建的</ion-label>
      </ion-segment-button>
      <ion-segment-button name="join" (click) = "clickjoin()">
        <ion-label>我加入的</ion-label>
      </ion-segment-button>
    </ion-segment>
        
    <div class="add">
      <ion-button slot="icon-only" size="small" fill="clear" (click)="presentPop($event)">
        <ion-icon name="add-outline"></ion-icon>
       </ion-button>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="always" placeholder="搜索" cancel-button-text="取消"></ion-searchbar>
  <div *ngIf="segment == 1">
    <ion-list>
      <ion-item [routerLink]="['/class-tabs']">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>
            1
          </h3>
          <p>
            2
          </p>
          <p>
            3
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>
          1
          </h3>
          <p>
            2
          </p>
          <p>
            3
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="segment == 2">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>
            1
          </h3>
          <p>
            2
          </p>
          <p>
            3
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <h3>
          1
          </h3>
          <p>
            2
          </p>
          <p>
            3
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
