<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-back-button text="班课"></ion-back-button>
    </ion-buttons>
    <ion-title>加入班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #classSlides>

    <ion-slide>
      <form>
        <ion-item>
          <ion-label>课程编号</ion-label>
          <ion-input type="text" placeholder="请输入课程编号" name="cNumber" [(ngModel)]="cNumber" required="true"></ion-input>
        </ion-item>
        <ion-button  expand="full" color="primary" (click)="onNext()" >
          下一步
        </ion-button>
      </form>
    </ion-slide>

    <ion-slide>
      <form novalidate>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="fixed">课程名称</ion-label>
            <ion-text>{{cName}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">课程描述</ion-label>
            <ion-text>{{description}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">课程学期</ion-label>
            <ion-text>{{term}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">课程学周</ion-label>
            <ion-text>{{date}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">课程学分</ion-label>
            <ion-text>{{credit}}</ion-text>
          </ion-item>
        </ion-list>
        <ion-button type="submit" expand="full" color="primary" (click)="joinClass()">
          加入
        </ion-button>
      </form>
    </ion-slide>

  </ion-slides>
</ion-content>
