<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/class-tabs']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        班课
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 33%;">签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="padding-left: 5%;font-size: 3px;">选择签到方式</ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/start']" fill="clear" style="padding-inline-start:10%">
          <ion-icon name="person-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/gesture']" fill="clear"  style="padding-inline-start:12%">
          <ion-icon name="grid-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/sign-in']" fill="clear" style="padding-inline-start:12%">
          <ion-icon slot="icon-only" name="today-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="padding-left: 5%;">一键签到</ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="padding-left: 12%;">手势签到</ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="padding-left: 12%;">手工登记</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text style="padding-left: 5%;font-size: 3px;">历史签到记录</ion-text>
  <ion-text style="padding-left: 55%;font-size: 3px; color:rgb(0, 140, 255)" [routerLink]="['/statistic']" 
  routerLinkActive="router-link-active" >统计</ion-text>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text><h3>2020-4-15 星期三 签到</h3></ion-text>
        <ion-text>12:00</ion-text>
      </ion-label>
      <ion-text>5人/50人</ion-text>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text><h3>2020-4-15 星期三 签到</h3></ion-text>
        <ion-text>12:00</ion-text>
      </ion-label>
      <ion-text>5人/50人</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
