<ion-header>
  
</ion-header>

<ion-content class = "content-container">
  <h1 class = "ss">welcome</h1>
    <div class ="btns">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-button color="primary" fill="outline" expand="block" routerLink="/login">登录</ion-button>
          </ion-col>
          <ion-col width-50>
            <ion-button color="primary" fill="outline" expand="block" routerLink="/register">注册</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
</ion-content>
