<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-back-button text="取消"></ion-back-button>
    </ion-buttons>
    <ion-title>创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>班级</ion-label>
    <ion-input placeholder="未设置"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>课程</ion-label>
    <ion-input placeholder="未设置"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>学期</ion-label>
    <ion-input placeholder="未设置"></ion-input>
  </ion-item>

  <ion-item > 
    <ion-label>学校课表班课</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>设置班课课程</ion-label>
    <ion-input placeholder="未设置"></ion-input>
  </ion-item>
  <div class="btn">
    <ion-button expand="block" style="width:80%;">
      创建
    </ion-button>
  </div>
</ion-content>
