<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/login">
        返回
    </ion-button>
    <ion-title style='text-align:center'>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label>账号</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="userNumber" type="text" placeholder="请输入账号" required="true" [(ngModel)]="userNumber" >
            </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="person-circle-sharp"></ion-icon>
          <ion-label>用户名</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="userName" type="text" placeholder="请输入用户名" required="true" [(ngModel)]="userName" >
            </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="phone-portrait-sharp"></ion-icon>
          <ion-label>手机号</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="userPhone" type="text" placeholder="请输入手机号" required="true" [(ngModel)]="userPhone" >
            </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="mail-sharp"></ion-icon>
          <ion-label>邮箱</ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="userMail" type="text" placeholder="请输入邮箱" required="true" [(ngModel)]="userMail" >
            </ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="full" color="primary" (click)="saveUser()">
        完成注册
      </ion-button>  
    </form>
  </div>
</ion-content>
